<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
      <script src="/jquery-2.1.3.min.js"> </script>
      <script>
         $(document).ready(function() {
            var title,content;
            $("#submit").click(function() {
               title=$("#title").val();
               content=$("#content").val();
               $.post("/login", {title:title,content:content}, function(data) {
                  if(data==='done') {
                     alert("login success");
                  }
               });
            });
         });
      </script>
</head>
<body>

<header>
  <div class="container">
    <h1><a href="/"><%= title %></a></h1>
  </div>
</header>

