<% include header %>
<main role="main">
  <div class="container">
      <input type="text" id="title" size="40"><br>
      <input type="password" id="content" size="40"><br>
      <input type="button" id="submit" value="Submit"><br />
      <a href="\about">About Us</a>
  </div>
</main>
<% include footer %>